<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

    <f:form.validationResults for="{element.rootForm.identifier}.{element.identifier}">
        <f:if condition="{element.properties.elementDescription}">
            <f:variable name="aria" value="{describedby: '{element.uniqueIdentifier}-desc'}" />
        </f:if>
        <f:if condition="{validationResults.errors}">
            <f:variable name="aria" value="{invalid: 'true', describedby: '{element.uniqueIdentifier}-errors'}" />
        </f:if>
        <f:variable name="errorClass">{f:if(condition: '{validationResults.errors}', then: ' {element.rootForm.renderingOptions.fieldProperties.errorClassAttribute}')}</f:variable>

        <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 0}" contentAs="elementContent">
            <div class="{element.properties.containerInnerClassAttribute}">
                <formvh:renderFormValue as="formValue" renderable="{element}">
                    <f:variable name="value" value="-" />
                    <f:if condition="{formValue.value}">
                        <f:variable name="value" value="{formValue.value}" />
                    </f:if>

                    <span class="form-slide-field">
                        <f:form.textfield
                            property="{element.identifier}"
                            id="{element.uniqueIdentifier}"
                            type="range"
                            class="{element.properties.elementClassAttribute}"
                            errorClass="{element.rootForm.renderingOptions.fieldProperties.errorClassAttribute}"
                            additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                            aria="{aria}"
                            min="{element.properties.min}"
                            max="{element.properties.max}"
                            step="{element.properties.step}"
                            value="0"
                            title="{value}"
                            oninput="let value = '-'; if(this.value > 0) { value = this.value; } this.setAttribute('title', value); document.getElementById('{element.uniqueIdentifier}-label').innerHTML = value;"
                        />
                    </span>
                    <span id="{element.uniqueIdentifier}-label" class="{element.properties.labelTextClassAttribute}"><span>{value}</span></span>
                </formvh:renderFormValue>
            </div>
        </f:render>
    </f:form.validationResults>
</html>
